footer.footer
  p
    span(style='text-align: center') © 2013 Yessay

style.
  footer.footer {
    background: #383e4b;
    color: #fff;
    padding: 10px 20px 1px 20px!important;
    margin: 0!important;
    text-align:center;
    margin-top:10px;
  }
