link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')

// ################ NAVIGATION START ################
.navbar-wrapper
  #navigation.navbar
    .navbar-inner.yessay-nav
      .container
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if (req.isAuthenticated())
          a.brand(href='/users/'+req.user.id)
            img(src='/img/landing/logo.png', alt='yessay', width=90)
        else
          a.brand(href='/')
            img(src='/img/landing/logo.png', alt='yessay', width=90)
        .nav-collapse.collapse
          ul.nav.pull-right.nav-top-right
            if (req.isAuthenticated())
              .btn-group
                a.btn(href='/users/'+req.user.id)=req.user.name + ' '
                .btn.dropdown-toggle(data-toggle="dropdown", href="#")
                  span.caret
                ul.dropdown-menu.pull-right
                  li
                    a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="login") Login
              li
                a(href="/signup", title="signup") Signup
