if (typeof errors !== 'undefined')
  .fade.in.alert.alert-block.alert-error
    a.close(data-dismiss="alert", href="javascript:void(0)") x
    ul
      each error in errors
        li= error.type

form.well(action="/users/session", method="post")
  fieldset
    a.btn.btn-primary.btn-large.box-sizing(href='/auth/facebook')
      img.provider-signup-img(src='/img/facebook.png', height='24', width='24')
      span(style="margin-left:5px") Sign in with Facebook
  hr
  h5.text-info Sign in with Yessay
  p.error= message
  .control-group
    label.control-label(for='email')
    .controls
      input#email.input-large(type='text', name="email", placeholder='Email')
    .control-group
      label.control-label(for='password')
      .controls
        input#password.input-large(type='password', name="password", placeholder='Password')
    .control-group
      .controls.signin-control
        button#submit.btn.btn-large.btn-primary.btn-orange(style='width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;', type='submit', data-loading-text='Loading...') Sign in
        &nbsp;
        | or&nbsp;
        a.show-signup(href="/signup") sign up