.well
  - var action = '../connect/join'
  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  form(method="post", action=action, enctype="multipart/form-data")
    if (!essay.isNew)
      input(type="hidden", name="_method", value="PUT")
    .control-group
      label.control-label(for='review') Wanna check out what others are writing?
      button#review.btn(type='submit') Let's do it

block writing-tips