form.well.signup(action="/users", method="post")
  if (!user)
    - var user = { name: '', email: '', username: '' }
  fieldset
    a.btn.btn-primary.btn-large(href='/auth/facebook')
      img.provider-signup-img(src='/img/facebook.png', height='24', width='24')
      span(style="margin-left:5px") Sign in with Facebook
  hr
  h5.text-info Sign up with Yessay
  if (typeof errors !== 'undefined')
    each error in errors
      if (error.type == 'Password cannot be blank')
        style.
          #password {
            border: 1px solid #cd5c5c;
          }
      if (error.type == 'Username cannot be blank')
        style.
          #username {
            border: 1px solid #cd5c5c;
          }
      if (error.type == 'Email cannot be blank')
        style.
          #email {
            border: 1px solid #cd5c5c;
          }
      if (error.type == 'Name cannot be blank')
        style.
          #name {
            border: 1px solid #cd5c5c;
          }
  .control-group
    .control-group
      label.control-label(for='name')
      .controls
        input#name(type='text', name="name", placeholder='Full name',value='#{user.name}')
          .control-group
      label.control-label(for='email')
      .controls
        input#email(type='email', name="email", placeholder='Email',value='#{user.email}')
          .control-group
      label.control-label(for='username')
      .controls
        input#username(type='text', name="username", placeholder='Username',value='#{user.username}')
          .control-group
      label.control-label(for='password')
      .controls
        input#password(type='password', name="password", placeholder='Password')
    .control-group
      .controls.signin-control
        button#submit.btn.btn-primary.button-loading(type='submit', data-loading-text='Loading...') Sign up
        &nbsp;
        | or&nbsp;
        a.show-signup(href="/login") sign in