p.intro-title What are admissions committees looking for?
b Your own story.  In your own words.
p.intro-content Write a kickass college application essay using a process designed by an NYU and Emory University writing instructor.