extends ../../layouts/sample-essays

include ../../users/auth.jade

block content
  // ################ Sample Essays SECTION START ################
  section#features
    .well(style="margin-top:70px;")
      p When it comes to writing your college application essay, it’s all about perspective. Looking at example essays is a great way to find inspiration and take note of what works with the college admission essay.
      p Here’s the lowdown:  Admissions officers are looking for a few things.
      ol
        li Your own, unique voice.
        li To get a glimpse of how your mind works.
        li A good narrative arc. Let’s be honest, we’re all drawn to stories that move us.
      p The example of the college application essay below captures all of that. Notice the elements that this example shares with fiction writing: great description, story, and voice. But notice also that the essay moves beyond story to reflection. College admissions officers want to see how you think about your experiences, and that’s why this essay works so well.
      p
        b COLLEGE APPLICATION ESSAY EXAMPLE: (Written with Yessay)
      p Johnny buried his head in his left arm every time he laughed. I'm not sure anyone
        | else noticed, but I did. He sat next to me in the back of the '96 Station Wagon. Uncle
        | Jeffy rode shotgun. I called it every morning, but Jeffy always got to the car first. I'm fast,
        | but he has longer legs. Sometimes it sucks to be a girl.
      p My dad drove every day, sometimes for ten hours straight. His record is sixteen.
        | It's all about a need for control, Uncle Jeffy says. My mom agrees. She says I inherited
        | that from him. She says I inherited a lot from him—my auburn hair, my 20/20 vision, the
        | way I pick at my eyebrows when I'm trying hard to concentrate—whether I like it or not.
        | I never liked it. I never liked anything remotely related to my dad. Until that summer,
        | anyway.
      p When my dad asked me to spend two and a half weeks of my vacation driving
        | across country with him, my uncle Jeffy and his bachelor friend Johnny, I didn't exactly
        | enthusiastically agree. My dad and I have never been close. To be honest, I've had
        | something of a personal vendetta against him ever since he and my mom split up in
        | third grade. He cheated. I knew it. Everyone knew I knew it, even if they pretended they
        | didn't. We're a family of actors, so we're quite good at that, pretending. We can smile for
        | pictures. Laugh on cue. Every time I saw my dad, we both stepped on stage. It was all
        | makeup, pleasant small talk and glittery costumes—all trying desperately to mask the
        | pain of our past. I was tired of pretending to smile.
      p So I hesitantly agreed. I would join him on his meandering trek across America,
        | and maybe I would bond with Jeffy and him a bit through late night jam sessions to "99
        | Bottles of Beer."
      p During those two and a half weeks, I had my first taste of jambalaya in New
        | Orleans and my first clam chowder by the Cape Cod bay. I visited haunted houses, bike
        | repair shops and corner ice cream stores with flavors like "Chonny Chonny Choclate
        | Delight." I stared up at statues of fallen small town founders staring, forever, up at the
        | stars.
        | Each night, I curled up in the back seat with a packet of pink pop rocks and
        | listened to my dad and Jeffy tell stories about their childhood. Sometimes, they were
        | wild, "you had to be there to believe it" stories that left Johnny and me chuckling so hard
        | that tears began to stream down our cheeks. Sometimes, the tears fell for other reasons.
        | For the first time, I heard my dad open up about his own dad—a teacher, doctor and
        | lawyer who left when Jeffy was only four. For the first time, my dad stepped off the
        | stage. It was time for me to do the same.
      p On one of our last mornings, my dad and I let Jeffy and Johnny sleep in and took
        | a walk, just the two of us, through a lush Missoula park. I told him how much it stung to
        | see him walk out the door, how warm tears flooded my pillow every night in third grade.
        | He listened. He didn't try to make excuses or mutter a series of witty puns. He just put his
        | arm around me and we stared, together, up at the rising sun. There was nothing more to
        | say.
      p There's something so American about the roads—the way they babble on forever
        | in every direction, brave and new, not knowing what is next. I think there might be
        | something American about me, too. Something American about that wild, silly, anti-allAmerican family we made for ourselves during those two-and-a-half August weeks. The
        | road didn't make me forget my past. But it did help me start to see a future I had never
        | before imagined.
      p Stepping down from the stage can hurt. Costumes are comfortable, soft against
        | the skin. But I had to let them go. The makeup and pleasant small talk too. In that '96
        | Station Wagon, it was just me, my dad, Uncle Jeffy and Johnny. Me, my dad, Uncle
        | Jeffy, Johnny and whatever new road lay ahead.
