extends ../../layouts/default

block main
  h1= essay.title
  h1 Description
  hr

block content
  iframe(src='http://player.vimeo.com/video/42160298', width='500', height='281', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
    p
      a(href='http://vimeo.com/42160298') Knowledge is Power (EDUC 5385/LAL 6300 Final Presentation)
      | from
      a(href='http://vimeo.com/user11721451') Alicja Tamowski
      | on
      a(href='http://vimeo.com') Vimeo
      | .

  hr
  p Intro content to description
  a.btn.btn-info(href='samples') Continue