extends ../../layouts/default

block main
  p.prompt-title Description Stage

block content
  iframe.well(src='http://player.vimeo.com/video/68254280?title=0&amp;byline=0&amp;portrait=0', width='500', height='334', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
  p.prompt-content Description brings your story to life. Through concrete and specific imagery you pull your the reader in, and for a brief moment, allow them to see what you saw and feel what you felt.
    a.btn.btn-info.pull-right(href='samples') Continue