extends ../../layouts/essay

block main
  p.prompt-title Description Stage

block content
  mixin video('http://player.vimeo.com/video/71109530')
  .prompt-content
    .row-fluid
      .span6.well
        p.text-error Sample 1
        h5 Waking up every morning at 5am to run before school takes a special kind of dedication. Not only does it make me a better runner, it is proof that if you want to excel at something, you have to work very hard to achieve it. You may even have to make some sacrifices. Although it is challenging to wake up that early every single morning, it is worth it every time I win a track meet.
      .span6.well
        p.text-success Sample 2
        h5 It’s dark when I wake up. The house is silent as I slip on my running shoes and tiptoe out into the cold morning air. During these early morning runs I have the streets to myself. At 5am nothing stirs except the birds and the leaves on the trees. I feel the wind in my face and the pavement under my feet as I cover miles of ground. The rush of adrenaline keeps me moving and pushes me through my exhaustion. I know that every track meet I win I owe to these early solitary mornings.
      a.btn.btn-info.pull-right(href='samples') Continue