extends ../../layouts/essay

block main
  div.well
    ul#prompts.nav.nav-tabs.phase-tabs
      li.active
        a(href='#brainstorm') Brainstorm
    .tab-content
      #brainstorm.tab-pane.active
        include ../includes/brainstorm-tab
block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor
    .main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='description') Look back over your brainstorms above and select one that provides insight into
            | who you are. At this stage, you’ll begin to describe the memory or event by using all
            | of your senses. Try to recall how it felt to experience it? Again, don’t think of this as
            | the introduction to your essay. It’s more of an exercise to help you bring your story
            | to life. (The more description you provide, the easier the essay writing will be to write later)
          .controls
            textarea.desc.input-xlarge(type='text', rows="10", name="description")=essay.description
        div
          .btn-group
            a.btn.btn-small(href="#videoModal", data-toggle="modal")
              i.icon-facetime-video
              | Video
            a.btn.btn-small(href="#sampleModal", data-toggle="modal")
              i.icon-facetime-video
              | Samples
          button.btn.btn-info.pull-right(type='submit') Save & Continue

  script
    document.ready = function() { $('#textbox').focus(); }

  #videoModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#myModalLabel Description Video
    .modal-body
      iframe.well(src='http://player.vimeo.com/video/68254280?title=0&amp;byline=0&amp;portrait=0', width='500', height='300', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
      h5 Description brings your story to life. Through concrete and specific imagery you pull your reader in, and for a brief moment, allow them to see what you saw and feel what you felt.
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Dismiss
  #sampleModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#myModalLabel Description Samples
    .modal-body
      h4 My Brother (description)
      p The waiting room was large and surprisingly unsanitary for a hospital. The television on the wall was running static. Or perhaps I only misremember it that way. The whole event is couched in so much confusion and haze that it’s hard to distinguish the way things were from the way I constructed them after the fact. I know for sure that my brother had been wheeled into the back two hours prior, and that we had not seen or heard a word from anyone since he had disappeared down that long corridor. My mother was crying. My father paced back and forth. When that army of uniformed hospital staff closed in around my brother’s gurney, we were simply edged out of the way. It would be hours before anyone came back around.
      hr
      h4 Swimming (description)
      p I was standing on the block, waiting for the gun. One one-thousand, two one-thousand, three one-thousand. C’mon. Let’s move! The water gently lapped the side of the pool, tranquil and unassuming against the mounting energy of the breaststrokers, all of us, lined up waiting for that sound. The gun goes off. Within seconds, we hit the water. Long streamlined glide and then short, staccato strokes. Arms pulling down toward the body, then flying out again. Always reaching for the edge. I turn the first lap of the race. Our line has broken up. Some breaststrokers push to the lead, others linger behind. Natural ability and varying levels of practice stagger us in our lanes. And then, there’s the wall. It’s so close, I can already feel it. My hand reaches for it. Did I hit first? Did she hit first? Only a millisecond of difference.
      hr
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Dismiss