extends ../../layouts/default

block main
  p.prompt-title Yessay Community

block content
  p.well Text
  p.well More Text
  a.btn.btn-info.pull-right(href='review') Sure, I'll take a look
  a.btn.btn-info.pull-right(href='../organization/intro') No, no interested in providing feedback right now