body {
  background-color: #f4f0ea; /* #009999; */
}

.content {
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1),1px 1px 4px rgba(0,0,0,0.12);
}

.clear-both {
    clear: both;
}

.date {
  font-size: 11px;
  color: #aaa;
}

#progress {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 200px;
}

.question, .prompt-content {
    resize: none;
}

.author {
  color: #aaa;
}

.title {
  padding: 5px 0 15px 0;
  display: block;
  font-size: 24px;
}

.essay, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

textarea.org {
    width: 100%;
    box-sizing: border-box;
}

/* quick fix until media queries are added */
.container-fluid {
    min-width: 1040px;
    max-width: 1300px;
}

.span3 {
    overflow: hidden;
}

pre {
    border: none;
}

.wordcount {
    position: fixed;
    top: 57px;
    right: 8px;
}

.main-head {
  text-align: center;
  padding: 10px;
}

.btn {
  outline: none !important;
}

.center {
  text-align: center;
}

.tags {
  margin-top: 10px;
}

a.tag {
  margin: 0 10px 0 0;
}

.brand {font: 25px 'Lobster', cursive;}

.error {
  color: #FF2602;
}

iframe {
    display: block;
    margin: 0 auto;
}

.login-icon {
    padding: 10px;
}

.brainstorm-questions {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.brainstorm-questions .question {
    width: 100%;
    box-sizing: border-box;
}

.gsfn-widget-tab:hover {
    text-decoration: underline;
}

/* Custom Styles */
.home-intro {
    margin-right: 70px;
}

.home-title {
    padding: 40px;
    width: 500px;
    font-family: "MuseoSans300",sans-serif;
    font-size: 35px;
    line-height: 45px;
}

.prompt-title {
    font-size: 35px;
}

.prompt-content {
    font-family: "MuseoSans300",sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.intro-content {
    padding: 10px 110px 0px 0px;
    width: 500px;
    font-family: "MuseoSans300",sans-serif;
    font-size: 20px;
    line-height: 36px;
}

#email, #password, #name, #username {
    padding-right: 42px;
}

#editor {
    margin: 0;
}

#editor .desc {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#editor .form-actions {
    margin: 0;
    padding: 0;
}

#login-facebook {
    border-radius: 3px;
    padding: 6px;
    background: #1a60a2;
    border-color: #1a60a2!important;
    border-bottom-color: #05121e!important;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #1b65ab;
    background-image: -moz-linear-gradient(top,#217ace,#134676);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#217ace),to(#134676));
    background-image: -webkit-linear-gradient(top,#217ace,#134676);
    background-image: -o-linear-gradient(top,#217ace,#134676);
    background-image: linear-gradient(to bottom,#217ace,#134676);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff217ace',endColorstr='#ff134676',GradientType=0);
    border-color: #134676 #134676 #081f34;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    text-shadow: 0 -1px 0 #0c2c4a;
}

#login-facebook:hover {
    text-decoration: none;
    color: #fff;
    background-color: #134676;

}

.brainstorm-wrapper {
    margin: 0 auto;
}

.signin-control {
    text-align: center;
}

.simple-button.provider-signup img {
    position: relative;
    top: 7px;
}

.simple-button.provider-signup {
    color: white!important;
    display: block;
    font-family: "MuseoSans300",sans-serif;
    height: 40px;
}

.simple-button.provider-signup .provider-separator {
    background-color: white;
    border-right: 1px solid #999;
    float: left;
    height: 50px;
    left: 36px;
    opacity: .4;
    filter: alpha(opacity=40);
    position: relative;
    top: -5px;
    width: 1px;
}

.simple-button.provider-signup .provider-signup-text {
    display: inline;
    font-size: 20px;
    left: 23px;
    position: relative;
    top: 10px;
}

/* essay layout - sidebars and content */

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 220px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.container-fluid > .main-content {
    margin: 0 230px;
}

/* end essay layout */

/* essay dashboard */
.dashboard {
    padding: 20px 0;
}

.dashboard .essay-title {
    margin-left: 15px;
}

.dashboard .nav .active a{
    background-color: #258cc6;
    color: white;
}

.dashboard .nav li a{
    padding: 20px
}

.content > .row-fluid > .essay-view {
    margin: 24px;
}

/* end dashboard */

/* essay top-nav */
.main-content > .tabs {
    background: #132d45;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#132d45),color-stop(1,#1c4366));
    background: -webkit-linear-gradient(top,#132d45 0%,#1c4366 100%);
    background: -moz-linear-gradient(top,#132d45 0%,#1c4366 100%);
    background: -o-linear-gradient(top,#132d45 0%,#1c4366 100%);
    background: -ms-linear-gradient(top,#132d45 0%,#1c4366 100%);
    background: linear-gradient(top,#132d45 0%,#1c4366 100%);
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.14),inset 0 -4px 0 #1f6fd9,inset 0 -4px 5px rgba(0,0,0,0.4);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.14),inset 0 -4px 0 #1f6fd9,inset 0 -4px 5px rgba(0,0,0,0.4);
    zoom: 1;
    margin: 0 0 17px 0;
    padding: 0;
    position: relative;
    float: left;
    width: 100%;

}

.nav-tabs.phase-tabs {
    height: 38px;
}

.main-content > .tabs > ul {
    list-style: none;
}

.main-content > .tabs li {
    float: left;
}

.tall.tabs li {
    width: 20%;
}

.tall.tabs li a {
    box-shadow: inset -1px 0 0 rgba(255,255,255,0.1);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    padding: 1px 16px 14px 16px;
    text-align: center;
}

.tall.tabs li a .label {
    float: none;
    padding-top: 0;
}
.tabs li.all .label {
    margin-top: 16px;
    padding-bottom: 3px;
}

/* end essay top-nav */