extends ../layouts/default

include ../mixins/video

block main
    p.prompt-title(style='margin-top:20px')=title
    p (If you already watched this video on the homepage, feel free to skip it now.)

block content
  .brainstorm-intro
    mixin video('http://player.vimeo.com/video/71070946')
    p.well.prompt-content Some of you may have already decided on your essay topics, but we encourage you
      | to keep an open mind at this early stage. Remember, the best college essays are
      | not necessarily about impressive or grandiose events. Sometimes, it's the small,
      | seemingly insignificant stuff that makes for the best personal essays. Check out our
      |brainstorming exercises before settling on a topic.
    a.btn.btn-info.pull-right(href='start') Continue
    .clear-both