extends ../layouts/default
include ../mixins/question

//block main
  p.prompt-title=title

block content
  - var action = 'answer'
  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #samples-carousel.carousel.slide
    // Carousel items
    .carousel-inner
      .item.active
        .row.well.brainstorm-wrapper
          .span7.brainstorm-questions
            form(method="post", action=action, enctype="multipart/form-data")
              .control-group
                label.pull-left.control-label(for='title') The title of your essay
                span.muted.pull-right 140
                .controls
                  textarea.question.input-xlarge(required, maxlength=140, rows=2, type='text', name="title")
              mixin question('', 'What do you want to write about?','What stands out most about the experience or memory you want to share?',"Why do you think it's so important to you?", 140)
              button.btn.btn-info.pull-right(type='submit', href='#answer') Answer Question
              .clear-both