extends ../layouts/connect

block main
  p.prompt-title=title

block content
  - var action = 'save'
  div.well(style='width:670px; margin:0 auto;')
    form(method="post", action=action, enctype="multipart/form-data")
      if (!req.essay.isNew)
        input(type="hidden", name="_method", value="PUT")
      .control-group
        p The goal of description is to pull your reader in with images and details. Check out the student writing below and give your feedback.
        p.well I awake to the agonizing ring of my alarm clock. I tumble out of bed and try to force a smile onto my nervous face. It was the day I was dreading for the past few months: the first day of Rock n' Roll camp. It was to be the first time I ever spent time away from the comfort of my home and I was not happy about it.
        p Does this excerpt capture your attention with specific imagery and details? Or is there a place you’d like the author to elaborate?
        .controls
          textarea.prompt-content.input-xlarge(rows=, type='text', name="review", placeholder="Enter your review here")
      .form-actions
        a.btn.btn-info.pull-right(href='review2') Submit Feedback
        a.btn.btn-info.pull-left(href='review2') Skip