extends ../layouts/connect

block main
  p.prompt-title=title

block content
  - var action = 'save'
  div.well(style='width:670px; margin:0 auto;')
    form(method="post", action=action, enctype="multipart/form-data")
      if (!req.essay.isNew)
        input(type="hidden", name="_method", value="PUT")
      .control-group
        p The goal of description is to pull your reader in with images and details. Check out the student writing below and give your feedback.
        p.well All the lights were on in my house. At 3AM, everyone should've been sleeping. I immediately knew something was wrong. "Mom?" I called from my bedroom. No reply. My heart started to beat out of my chest. What was wrong? Where was she? She always answered when I called for her. After moments of thinking through everything that could've possibly happened, I got up out of bed and opened my door slightly. No one was there. Now I was really worried. I frantically ran down the stairs only to find my mother sitting on the couch in complete silence. At that moment, I knew. She didn't even have time to get the words out before I burst into tears. My stomach dropped, my eyes swelled, and my mother embraced me. "Where's Dad?" I asked. "At the hospital. He made it just in time." Just in time to say goodbye to his mother forever. My beloved Grandmother had passed away suddenly. I didn't sleep for the rest of that night or for the rest of the week. Every time I closed my eyes I saw my Grandma blowing the candles out on her 90th birthday cake only days earlier. Behind my eyelids were only snapshots of my father crying -- something that I'd never seen before. I'd been to funerals before, but this one was different. This time I was sitting in the front row. The only comforting thing about the front row is that no one else can see your tears. At this celebration of life I realized I hadn't know much about my grandmother at all. To me, she was a brilliant, mature, and powerful feminine figure. But to others, she was a best friend, a sister, a mentor. Everybody had a different story about her. Whether it was the time she graduated from the first women's UCLA class or when she started the Beverly Hills Democratic Club, everybody had a fascinating story to tell.
        p Does this excerpt capture your attention with specific imagery and details? Or is there a place you’d like the author to elaborate?
        .controls
          textarea.prompt-content.input-xlarge(rows=, type='text', name="review", placeholder="Enter your review here")
      .form-actions
        a.btn.btn-info.pull-right(href='../description/start') Finish Giving Feedback