extends ../../layouts/essay

block main
  p.prompt-title Organization Stage

block content
  iframe.well(src='http://player.vimeo.com/video/68260702?title=0&amp;byline=0&amp;portrait=0', width='500', height='300', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
  p.well.prompt-content  The organization stage requires that you make decisions about how the story unfolds. It is a process of weaving together the different components of writing that you have created thus far.
    a.btn.btn-info.pull-right(href='samples') Continue