extends ../../layouts/essay

block main
  p.prompt-title Organization Stage

block content
  mixin video('http://player.vimeo.com/video/71109529?byline=0&amp;portrait=0')
  p.well.prompt-content  The organization stage requires that you make decisions about how the story unfolds. It is a process of weaving together the different components of writing that you have created thus far.
  a.btn.btn-info.pull-right(href='samples') Continue
  .clear-both