extends ../../layouts/default

block main
  p.prompt-title Michael from Chicago has requested your help

block content
  - var action = 'organization/save-review'
  div.well(style='width:670px; margin:0 auto;')
    form(method="post", action=action, enctype="multipart/form-data")
      if (!req.essay.isNew)
        input(type="hidden", name="_method", value="PUT")
      .control-group
        h3 Do you think my description is okay? - Michael
        p
        |
        br
        br
        .controls
          textarea.prompt-content.input-xlarge(rows=3, type='text', name="review", placeholder="Enter your review here")
      .form-actions
        button.btn.btn-info.pull-right(type='submit') Finish