extends ../../layouts/default

block main
  p.prompt-title(style='font-size: 25px')
    span.text-warning(style='font-style: italic') sk8topia2004&nbsp;
    span has requested your help on his description section.

block content
  - var action = 'organization/save-review'
  div.well(style='width:670px; margin:0 auto;')
    form(method="post", action=action, enctype="multipart/form-data")
      if (!req.essay.isNew)
        input(type="hidden", name="_method", value="PUT")
      .control-group
        h3 Would you like to provide some constructive feedback for&nbsp;
          span.text-warning(style='font-style: italic') sk8topia2004
          span ?
        h5.text-info(style='font-style:italic') "Looking back, something about this pancake was really special. It was simple with not many ingredients, but no one else could make it like my dad.  The golden brown texture and gooey inside was just the start.  The pancake was also very thin, so what I used to do is roll it up like a blanket and add some sugar to the top. As the sugar melted, I would slice the roll into thin slices.  Each slice would start unraveling reminiscent of thick spaghetti."
        br
        br
        .controls
          textarea.prompt-content.input-xlarge(rows=3, type='text', name="review", placeholder="Enter your review here")
      .form-actions
        button.btn.btn-info.pull-right(type='submit') Finish