extends ../../layouts/essay

block content
  div
    div.well
      center
        h2 How to Organize Your Essay
      span(style='color:red; font-weight:bold') Description is red;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      span(style='color:green; font-weight:bold') Context is in green;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      span(style='color:blue; font-weight:bold') Reflection is in blue;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      span Additions are black.
      br
      br
      p (*Notice, as the essay evolves, new description and new context is added, even in paragraphs that are predominantly reflection. Also, even in the cases where existing text made it in to the final essay, it sometimes needed to be smoothed out for flow.)
    div.well
      center
        h4(style='text-decoration: underline') The Swim Meet (organization)
      p
        span I am up on the block, toes curled over the edge, fingers gripping the two front corners.&nbsp;&nbsp;
        span(style='color:red; font-weight:bold') All of us breaststrokers are lined up
        span , perfectly poised and&nbsp;
        span(style='color:red; font-weight:bold') waiting for that sound
        span , the sound of the gun that releases us from the ready position. It is the sound that marks the beginning of this race, four laps back and forth. One of us will take home the gold.
      p
        span(style='color:green; font-weight:bold') For the past four years, I have been a competitive swimmer.&nbsp;&nbsp;
        span Swimming is now so deeply ingrained in my body, my mind, my rhythm.&nbsp;&nbsp;
        span(style='color:green; font-weight:bold') For four years, I have woken up before sunrise and stayed after school into the evening. I have committed my weekends to meets, practices, strengthening drills, and weight lifting. Sometimes it feels like I am in the water more than I am not. All my dreams are now aquatic.
      p On the block, I drop down lower, shift my weight even further back, ready to hurl myself into the water,&nbsp;
        span(style='color:red; font-weight:bold') which gently laps the side of the pool, tranquil and unassuming against the mounting energy of my fellow breaststrokers. One one-thousand, two one-thousand, three one-thousand. C’mon. Let’s move!&nbsp;&nbsp;
        span And then it comes.&nbsp;&nbsp;
        span(style='color:red; font-weight:bold') Within seconds, we hit the water, a long streamlined glide and then short, staccato strokes. Our arms pull down toward the body, and then fly out again, always reaching for the edge.
      p In the beginning, I remember the pain of pushing my body to this extreme. I am not naturally an early riser, and I have rarely committed myself to something with this kind of vigor.&nbsp;&nbsp;
        span(style='color:green; font-weight:bold') In fact, my learning curve was quite steep. It took practice and effort to learn the correct and precise formation of the breaststroke, how wide or narrow to spread your arms, when to pull down, and with what kind of strength. But there is a point at which the stroke inhabits you and becomes your own. And at that point, it’s hard to imagine yourself without it.
      p These thoughts run through my head as&nbsp;
        span(style='color:red; font-weight:bold') I turn the first lap of the race. Our line has broken up. Some breaststrokers push to the lead, others linger behind. Natural ability and varying levels of practice stagger us in our lanes.&nbsp;&nbsp;
        span(style='color:blue; font-weight:bold') When I was young, I remember being taught that “it’s not whether you win or lose, but how you play the game” that matters. I like the way this sounds,&nbsp;
        span pithy and expansive, inclusive of winners and losers alike. It’s a way of saying, there are more important things out there than this one little race at this one little school in the one town right now.&nbsp;&nbsp;
        span(style='color:blue; font-weight:bold') It’s a way of keeping perspective on those occasions where things don’t go as planned, when you don’t take home the metal, when your team walks off the field heads hung low.&nbsp;&nbsp;
        span I think about this as I round lap two, three, and then to the fourth and final stretch. The wall waits, indiscriminate against&nbsp;
        span(style='color:blue; font-weight:bold') the rush of adrenaline&nbsp;
        span from the breaststrokers fast approaching. It doesn’t matter if you win or lose, I tell myself over and over, even though I can feel&nbsp;
        span(style='color:blue; font-weight:bold') the raw force of physical competition welling up inside me, tapping into something more primal.
      p When it’s all over, we compliment each other, “good race,” we say, but only one of us means it.&nbsp;&nbsp;
        span(style='color:red; font-weight:bold') My hand touched first. Just by a millisecond.&nbsp;&nbsp;
        span But a millisecond may as well be eternity in that moment. I walk up to collect my metal with humility because I know how the other girls feel, having been in their position many times before.&nbsp;&nbsp;
        span(style='color:blue; font-weight:bold') Maybe it doesn’t matter whether you win or lose, not in a bigger, more cosmic way.&nbsp;&nbsp;
        span In the grand scheme of things, this race makes little difference and will probably be forgotten by most everyone here. But I also know deep within me, that it does matter.&nbsp;&nbsp;
        span(style='color:blue; font-weight:bold') All of it matters. And in that final rush toward the wall, when winning was all we could see and feel, the animal part of each of us knew it intuitively.
      hr
      div(style='padding: 0 0 30px 0;')
        a.btn.btn-info.pull-right(href='idea-prompt') Ready to organize your essay?