extends ../../layouts/essay

block main
  p.prompt-title Context Stage

block content
  mixin video('http://player.vimeo.com/video/71109531')
  p.well.prompt-content You've written description, but the admissions committee still needs some background information in order to understand the larger context of this memory. Orient your reader by stepping back from the immediacy of description and help set the scene.
  a.btn.btn-info.pull-right(href='samples') Continue
  .clear-both