extends ../../layouts/default

block main
  h1= essay.title
  h1 Samples
  hr

block content
  h1 Sample 1
  p this is the first sample content
  hr
  h1 Sample 2
  p this is the second sample content
  hr
  p Sample content to context
  a.btn.btn-info(href='start') Start context