extends ../../layouts/default

block main
  h1 What is context?
  hr

block content
  p You’ve written your descriptions, but there’s still more to do if we want to turn a meaningful memory into a compelling essay. The admissions committee needs some background information in order to understand the larger context of this memory. The only way to help orient your reader is to step back from the immediacy of description and spell it out.
  h2 Sample 1
  p My brother and I have always been close. He’s only a year younger than I, and when we were little, we did everything together. We shared the same friends, read the same books, played the same sports. Not to say there wasn’t a fair amount of fighting, but even then, we were equally matched. Now, at the hospital, all of that seemed so far in the past. Apparently, they had run a number of tests. Cat scans, MRI’s, peering as far as they could into the recesses of his brain. So far, nothing had come up.
  h2 Sample 2
  p I have been a competitive swimmer for the past four years. Being part of my team means waking up before the sunrise and staying after school into the evening. It means weekend meets, strengthening drills, and weight lifting sessions. It feels like I am in the water more than I am not. All my dreams are now aquatic. But it’s the race that really keeps me committed, even though I wasn’t always this way. My learning curve was steep. It took practice and effort to learn the correct and precise formation of the breaststroke, how wide or narrow to spread your arms, when to pull down, and with what kind of strength. But once it’s in you, once you feel the stroke become your own, it’s hard to leave it behind. I’m always waiting for the next race.
  hr
  a.btn.btn-info.pull-right(href='start') Start context