extends ../../layouts/default

block main
  #progress Progress
    .progress.progress-warning.progress-striped
      .bar(style="width: 40%")
  p.prompt-title Brainstorming Stage

block content
  iframe.well(src='http://player.vimeo.com/video/68254279?title=0&amp;byline=0&amp;portrait=0', width='500', height='300', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
  p.well.prompt-content The best college essays are not necessarily about impressive or grandiose events. Sometimes, it's the small, seemingly insignificant stuff that makes for the best personal essays.
    a.btn.btn-info.pull-right(href='start') Continue