extends ../../layouts/essay

block main
  p.prompt-title=title

block content
  iframe.well(src='http://player.vimeo.com/video/69014531?title=0', width='500', height='300', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
  p.well.prompt-content Some of you may have already decided on your essay topics, but we encourage you
    | to keep an open mind at this early stage. Remember, the best college essays are
    | not necessarily about impressive or grandiose events. Sometimes, it's the small,
    | seemingly insignificant stuff that makes for the best personal essays. Check out our
    |brainstorming exercises before settling on a topic.
  a.btn.btn-info.pull-right(href='start') Continue
  .clear-both