extends ../../layouts/essay

include ../../mixins/question

block main
  p.prompt-title=title

block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  .row.well.brainstorm-wrapper
    .span7.brainstorm-questions
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        - var e = essay, b = essay.brainstorm
        mixin question(e.title, b.prompt, b.q1.question, b.q2.question, b.q3.question, 140)
        button.btn.btn-info.pull-right(type='submit') Save and Continue