extends ../../layouts/essay

block main
  p.prompt-title=title


block content
  - var action = 'save'
  if (!essay.isNew)
    - action += '/'+essay.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  .row.well.brainstorm-wrapper
    .span7.brainstorm-questions
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        div#main-question
         h4 Remember a time that you lost something that was important to you.
        div
          div#questions-one
            .control-group
              label.pull-left.control-label(for='Describe in a few words what happened. ') Describe in a few words what happened.
              span.muted.pull-right 140
              .controls
                textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="Describe in a few words what happened.")
            .control-group
              label.pull-left.control-label(for='List three adjectives that describe him/her') What images do you associate with that loss?
              span.muted.pull-right 140
              .controls
                textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="List three adjectives that describe him/her")
            .control-group
              label.pull-left.control-label(for='Before it was lost, what did it represent to you?') Before it was lost, what did it represent to you?
              span.muted.pull-right 140
              .controls
                textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="Before it was lost, what did it represent to you?")
          div#main-question-two(style='display:none;')
            h4 Think of something in your life that may seem insignificant to others, but is very meaningful or important to you.
          div#questions-two(style='display:none;')
            .control-group
              label.pull-left.control-label(for='Describe it in a few words.') Describe it in a few words.
              span.muted.pull-right 140
              .controls
                textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="Describe it in a few words.")
            .control-group
              label.pull-left.control-label(for='What specifically stands out in your memory?') What specifically stands out in your memory?
              span.muted.pull-right 140
              .controls
                textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="What specifically stands out in your memory?")
            .control-group
              label.pull-left.control-label(for="Briefly, why do you think it made such a lasting impression on you?") Briefly, why do you think it made such a lasting impression on you?
              span.muted.pull-right 140
              .controls
                textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="Briefly, why do you think it made such a lasting impression on you?")
            div
              button#next-question-three.btn.btn-info.pull-right Continue
          div#main-question-three(style='display:none;')
            h4 Remember a summer in which you experienced significant personal growth.
            div#questions-three(style='display:none;')
              .control-group
                label.pull-left.control-label(for='What did you do that summer?') What did you do that summer?
                span.muted.pull-right 140
                .controls
                  textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="What did you do that summer?")
              .control-group
                label.pull-left.control-label(for='What three visuals have stuck with you from that summer?') What three visuals have stuck with you from that summer?
                span.muted.pull-right 140
                .controls
                  textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="What three visuals have stuck with you from that summer?")
              .control-group
                label.pull-left.control-label(for="What changed for you over that summer?") What changed for you over that summer?
                span.muted.pull-right 140
                .controls
                  textarea.question.input-xlarge(maxlength=140, rows=2, type='text', name="What changed for you over that summer?")
              div
                button.btn.btn-info.pull-right(type='submit') Save & Continue
          div
            button#next-question-two.btn.btn-info.pull-right Continue