extends ../../layouts/default

block main
  h3 Brainstorm
  hr

block content
  - var action = 'save'
  if (!essay.isNew)
    - action += '/'+essay.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  .row
    .span7.brainstorm-questions
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='Who is someone you trust?') Who is someone you trust?
          .controls
            input.question.input-xlarge(type='text', name="Who is someone you trust?", placeholder='Type answer here')
        .control-group
          label.control-label(for='List three adjectives that describe him/her') List three adjectives that describe him/her
          .controls
            input.question.input-xlarge(type='text', name="List three adjectives that describe him/her", placeholder='Type answer here')
        .control-group
          label.control-label(for='Is there an event or image that stands our immediately?') Is there an event or image that stands our immediately?
          .controls
            input.question.input-xlarge(type='text', name="Is there an event or image that stands our immediately?", placeholder='Type answer here')
        .control-group
          label.control-label(for='In one sentence, what does trust mean to you?') In one sentence, what does trust mean to you?
          .controls
            input.question.input-xlarge(type='text', name="In one sentence, what does trust mean to you?", placeholder='Type answer here')
        .form-actions
          button#submit.btn.btn-primary.pull-right(type='submit') Save & Continue