extends ../../layouts/default

block main
  p.prompt-title Brainstorming Stage


block content
  - var action = 'save'
  if (!essay.isNew)
    - action += '/'+essay.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  .row.well.brainstorm-wrapper
    .span7.brainstorm-questions
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        div#main-question
         h3 Remember a time that you lost something that was important to you.
        div
          div#questions-one
            .control-group
              label.control-label(for='Describe in a few words what happened. ') Describe in a few words what happened.
              .controls
                input.question.input-xlarge(type='text', name="Describe in a few words what happened.")
            .control-group
              label.control-label(for='List three adjectives that describe him/her') What images do you associate with that loss?
              .controls
                input.question.input-xlarge(type='text', name="List three adjectives that describe him/her")
            .control-group
              label.control-label(for='Before it was lost, what did it represent to you?') Before it was lost, what did it represent to you?
              .controls
                input.question.input-xlarge(type='text', name="Before it was lost, what did it represent to you?")
          div#main-question-two(style='display:none;')
            h3 Think about a challenge that you took a lot of pride in overcoming.
          div#questions-two(style='display:none;')
            .control-group
              label.control-label(for='What was the challenge?') What was the challenge?
              .controls
                input.question.input-xlarge(type='text', name="What was the challenge?")
            .control-group
              label.control-label(for='What specific moment stands out to you?') What specific moment stands out to you?
              .controls
                input.question.input-xlarge(type='text', name="What specific moment stands out to you?")
            .control-group
              label.control-label(for="Of all the challenges you've faced, why did this one stand out?") Of all the challenges you've faced, why did this one stand out?
              .controls
                input.question.input-xlarge(type='text', name="Of all the challenges you've faced, why did this one stand out?")
            div
              button#next-question-three.btn.btn-info.pull-right Continue
          div#main-question-three(style='display:none;')
            h3 Remember a summer in which you experienced significant personal growth.
            div#questions-three(style='display:none;')
              .control-group
                label.control-label(for='What did you do that summer?') What did you do that summer?
                .controls
                  input.question.input-xlarge(type='text', name="What did you do that summer?")
              .control-group
                label.control-label(for='What three visuals have stuck with you from that summer?') What three visuals have stuck with you from that summer?
                .controls
                  input.question.input-xlarge(type='text', name="What three visuals have stuck with you from that summer?")
              .control-group
                label.control-label(for="What changed for you over that summer?") What changed for you over that summer?
                .controls
                  input.question.input-xlarge(type='text', name="What changed for you over that summer?")
              div
                button.btn.btn-info.pull-right(type='submit') Save & Continue
          div
            button#next-question-two.btn.btn-info.pull-right Continue