extends ../../layouts/essay

block main
  p.prompt-title Reflection Stage

block content
  mixin video('http://player.vimeo.com/video/71109532')
  p.well.prompt-content Reflection is all about going deep, trying to figure out what the memory, event, or experience really means to you. Any memory--however large or small--lends itself to this kind of reflective thinking. It's where you show the admissions committee that you are a critical thinker.
  a.btn.btn-info.pull-right(href='samples') Continue
  .clear-both