extends ../../layouts/default

block main
  h1 What is reflection?

block content
  p A good college essay doesn’t stop with descriptive writing and a bit of context. You must go beyond this to show the college admissions committee that you know how to reflect on your experiences. They want to see that you are a critical thinker, not just a beautiful writer.
  p So, how do you do this? You find moments in your essay where you can break out of the immediacy of description and the straight facts of context, and tip your hat to the larger meaning behind it all. Every event—however large or small—can lend itself to these kinds of reflective moments.
  p Check out these examples, and notice: they do not conclude with clichés or overly simplistic morals.

  h2 Sample 1
  p The experience of seeing someone in pain—someone you know and love—is difficult to explain. In part, it is the obvious feeling of helplessness. You can only watch from the outside. Your interventions are meager, in spite of every good intention. But it’s also more than this. In some way, I felt like seeing my brother in the hospital, so out of context like that, was a glimpse into something even more disturbing. It meant that the calm and order of everyday life—all those things we always take for granted—was really very thin, like a delicate skin barely stretched over some deeper and more profound chaos. Maybe pain always works like this, revealing something cosmic and unsettling, even if it only lasts for a brief moment and life resumes again to cover over its traces.
  h2 Sample 2
  p When I was young, I remember being taught that “it’s not whether you win or lose, but how you play the game” that matters. I want to say I believe in this. It sounds nice and comforting, something to soothe yourself on those occasions where things don’t go as planned, when you don’t take home the metal, when your team walks off the field heads hung low. And maybe in some deeper way, this is true. Maybe it doesn’t matter in the grand scheme of things. But if you’ve ever felt the rush of adrenaline, the raw force of physical competition, then you know that winning is more than the icing on the cake. In the midst of competition, there is no grand scheme of things. The desire to win is primal, it’s all you can see and feel, and the animal part of you knows this intuitively.
  hr
  a.btn.btn-info.pull-right(href='start') Start reflecting