extends ../../layouts/default

block main
  h1= essay.title
  h1 Describe
  hr

block content
  h3 Here we will describe the essay from the brainstorm
  a.btn.btn-info(href='../organization/intro') Move on to organization