extends ../layouts/default

block main
  if (!count)
    .welcome-wrapper
      h4 Ok, let's get started. Do you already have an essay topic in mind?
      hr
      p
        a.btn.btn-primary.yes(href='/brainstorm/write-your-own') Yes, I do.
        a.btn.btn-primary.no(href='/brainstorm/intro') No, let's brainstorm.
      .clear-both
  else
    h1= user.name
    hr
    h4 Nice, you've got #{count} great topics to work on!
    p(style="padding:0 150px") Choose one of your essays below to start writing. Don't worry, you can always come back to your Brainstorm page to try
      | out a different essay
    include ../essays/includes/show-essays
    .clear-both
    hr
    p You can always keep brainstorming or write your own topic below.
    .continue
      a(href='/brainstorm/start') Continue Brainstorming
    .write
      a(href='/brainstorm/write-your-own') Write on your own topic

block content