extends ../layouts/default

block main
  h1= user.name
  p= user.email
  hr
  if (!count)
    a.btn.btn-primary(href='/brainstorm/intro') Start Brainstorming
  else
    a.btn.btn-primary(href='/brainstorm/start') Continue Brainstorming
  hr
  a.btn.btn-primary(href='/brainstorm/write-your-own') Write on your own topic
  hr
  p Your Essays
  include ../essays/includes/show-essays
  .clear-both
  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)

block content