extends ../layouts/default

block main
  h1= user.name
  p= user.email
  hr
  p Your Essays
  include ../essays/includes/show-essays
  .clear-both
  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)

block content