extends ../layouts/home

include ../users/auth.jade

block content
  // ################ FEATURES SECTION START ################
  section#features
    .row-fluid
      .span7
        h3 What are admissions officers really looking for?
        h1 Your own story. In your own words.
        h4.margintop40 Designed by a writing teacher from NYU and Emory University, Yessay helps you write to your potential when it matters most.
      .span4.center
        include ../includes/signup
  // ################ FEATURES SECTION END ################
  #push