extends ../layouts/home

include ../users/auth.jade

block content
  // ################ FEATURES SECTION START ################
  section#features
    .row-fluid
      .span7(style="margin-top:10px;height:347px")
        h3.center Get Started with Yessay
        iframe(src='http://player.vimeo.com/video/71070946?byline=0&portrait=0', width='100%', height='100%', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
        h4(style="line-height: 1.3; font-size: 18px;margin: 0 25px;")
          span(style="font-weight:bold") What are admissions looking for?
          |  The real you. We help you write to your potential when it matters most by guiding you through the entire writing process.
      .span5(style="margin-top:60px;").center
        include ../includes/signup
  // ################ FEATURES SECTION END ################
  #push