extends ../layouts/default

include ../users/auth.jade

block content

  if (req.isAuthenticated())
    center.row
      .home-title
        p.intro-title Thank you,&nbsp;
          span=req.user.name.split(' ')[0]
          span , for participating in yessay the one-stop shop for writing your college application essay!
        hr
        a(href="/brainstorm/question") Let's brainstorm
  else
    .row
      .span7.home-title
        include ../includes/welcome
      .span4
        include ../includes/signup