extends ../layouts/home

include ../users/auth.jade

block content
  // ################ FEATURES SECTION START ################
  section#features
    .row-fluid
      .span7(style="margin-top:10px;height:347px")
        iframe(style="width:100%;height:100%;box-sizing:border-box;").well(src='http://player.vimeo.com/video/69014531?title=0', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
      .span5(style="margin-top:10px;").center
        include ../includes/signup
  // ################ FEATURES SECTION END ################
  #push