extends ../layouts/home

include ../users/auth.jade

block content
  // ################ FEATURES SECTION START ################
  section#features
    .row-fluid
      .span7(style="margin-top:10px;height: 430px;")
        iframe(src='http://player.vimeo.com/video/71070946', width='100%', height='100%', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
      .span4(style="margin-top:60px;margin-left:15px;padding:15px")
        h4(style="line-height: 1.3; font-size: 20px;margin: 0 25px;")
          span(style="font-weight:bold") What are admissions looking for?
        h4(style="line-height: 1.3; font-size: 25px;margin: 30px 25px;") The real you.
        h4(style="line-height: 1.3; font-size: 20px;margin: 30px 25px;") Designed by a writing teacher from NYU and Emory University, Yessay is a step-by-step process that helps you write to your potential when it matters most.
  // ################ FEATURES SECTION END ################
  #push