extends ../../layouts/quick-tips

include ../../users/auth.jade

block content
  // ################ Sample Essays SECTION START ################
  section#features
    .well(style="margin-top:70px;")
      p Whatever topic you choose, whatever approach you take, there are certain writing
        | tips that you want to bear in mind as you write your college application essay.
        | Together with the Yessay writing system, these helpful hints will guide you in the
        | right direction with your admissions essay.
      p (We show you how to put these helpful hints to use when you go through the Yessay
        | writing process.)
      p 1.
        b  Pay Attention to Your Verbs.
        |  Be specific with your verbs. It makes a difference
        | if you say you cried vs. sobbed. It creates a different visual for your reader if it was
        | raining, drizzling, or pouring.
      p 2.
        b  Keep It Conversational.
        |  If you’re writing sentences you wouldn’t normally say,
        | it’s probably going to sound pretty stilted, and the admissions officers will certainly
        | sense that.
      p 3.
        b  Read It Out Loud.
        |  This may sound obvious, but most people don’t do it. And I
        | promise you, if you do, it will make a world of difference. If it doesn’t sound like you,
        | re-wite it until it does.
      p 4.
        b  Long Sentences Aren’t Necessarily Better.
        |  Long sentences don’t equal bigger
        | thoughts. Keep some sentences short so your reader can catch a breath in your
        | writing.
      p 5.
        b  Keep It Simple.
        |  Complexity sometimes comes in unassuming packages. Don’t get
        | overwhelmed in your analysis. Just make simple, honest observations.
      p 6.
        b  Avoid Cliché.
        |  Keeping things simple is good, but more importantly, keep it in
        | your own words. Cliché’s like, practice makes perfect, may be true, but they are so
        | overused, they don’t move anyone anymore.
      p 7.
        b  Start in an Unexpected Place.
        |  To pull your reader in, captivate them with a juicy
        | beginning. Don’t be afraid to start abruptly.
      p 8.
        b  The Ta-da Moment.
        |  How you close is just as important as how you open. Decide
        | what you want to leave your reader with, and build up your essay to that moment.
      p 9.
        b  Keep Paragraphs Short.
        |  Don’t go 5 paragraphs on the college application essay.
        | This is less formulaic. Tell a story in short paragraphs. They are easier on the eye
        | and easier on the brain.
      p 10.
        b  Take the Opportunity to Learn About Yourself.
        |  You’ve probably never
        | written an essay quite like this. And to be honest, it can lead to some of the most
        | beautiful writing you’ll ever do. Explore your memories, stories and experiences and
        | try to take something from them.
      p See these helpful tips in action by
        a(href='/signup')  signing in
        |  , and start the writing process now!
