mixin video(source)
  iframe.well.box-sizing(src='#{source}', width='100%', height='350', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')