nav.tall.tabs
  ul.links
    li.all
      a.inner.pjax(href='/your-sets')
        span.label All
    li.studied
      a.inner.pjax(href='/studied')
        span.label Studied
    li.created
      a.inner.pjax(href='/created')
        span.label Created
    li.favorites
      a.inner.pjax(href='/favorites')
        span.label Favorites
    li.favorites
      a.inner.pjax(href='/favorites')
        span.label Favorites
