extends ../../layouts/about

include ../../users/auth.jade

block content
  // ################ FEATURES SECTION START ################
  section#features
    .well(style="margin-top:70px;")
      p Writing is hard enough as is. But writing your college application essay can be particularly painful.
      p You worry about
        b  impressing the admissions committee.
        |  You worry that
        b  you haven’t done anything important enough.
        |  You worry that
        B  your writing won’t make your college admissions essay stand out.
      p We hear you.
      p That’s why we created Yessay, a fully guided experience to writing the college application essay. We help you break the essay down into bite-sized pieces, write in small sections, and then weave the whole thing together.
      p So, how does it work exactly?
      p
        b Step 1: Brainstorm: We ask you a series of questions and your answers help you choose your topic.
      p
        b Step 2: Description: You want to hook your reader. The best way to do that is bring them into the immediacy of a moment. Description brings memory to life.
      p
        b Step 3: Context: You have to give your reader some background. Pull back from the immediacy of description and tell your reader what they need to know.
      p
        b Step 4: Reflection:
        | This is where you make sense of your experience to your reader. Let them know why it was so important to you…and steer clear of cliché.
      p
        b Step 5: Organization: Put the whole thing together in the final organization stage. Don’t worry, we show you how to do it.
      p Then, when you finish your college essay, we have professional reviewers to give you feedback on your writing.
      p Bottom line: If you can tell your own story in a compelling way—if you can pull in your readers and show them how your own mind works—you’re application essay will have served its purpose. And we’re here to help you do it!
      p Contact us with any questions: contact@yessay.com