// ################ FOOTER START ################
footer#support
  .row.center
    h2 How It Works
    .span4.margintop40
      .row.left
        .span4.center
          i.icon-phone.support-icon
          h2 Learn
          ul.unstyled
            li Videos, samples and prompts to guide you through the process.
    .span4.margintop40
      .row.left
        .span4.center
          i.icon-comments.support-icon
          h2 Write
          ul.unstyled
            li Brainstorm, write and organize your essay in bite-sized pieces
    .span4.margintop40
      .row.left
        .span4.center
          i.icon-group.support-icon
          h2 Connect
          ul.unstyled
            li Get feedback by workshopping your writing with others
section(style="padding:50px 0;")
  p.center © Yessay 2013