// ################ JAVASCRIPTS ################
// Placed at the end of the document so the pages load faster
script(src='js/landing/jquery.js')
script(src='js/landing/bootstrap.js')
script(src='js/landing/jquery.fitvids.js')
script(src='js/landing/jquery.easing.1.3.js')
script(src='js/landing/twitter.js')
script(src='js/landing/fancybox.js')
script(src='js/landing/custom.js')
