// ################ HEADER START ################
header#top
  .container.home
    .row.span8.section1
      a.brand(href='')
        img.icon-white(src='img/landing/logo-large.png',width=500)
      p(style='font-size: 20px;margin-left:20px') Write a Kick-Ass College Application Essay and Stand Out to Admissions.
