// ################ HEADER START ################
header#top
  .container.home
    .span7(style="margin-top:60px; margin-bottom:60px;text-align:center").section1
      a.brand(href='')
        img.icon-white(src='img/landing/logo-large.png',width=500)
      p(style='font-size: 27px;margin-left:20px') Write a Kickass&nbsp;
        b College Application Essay&nbsp;
    .span4.center(style='margin-top:10px')
      .well.signup-form
        span.sign-up-message Sign up free!
        fieldset.margintop20
          a.btn.btn-primary.btn-large(href='/auth/facebook', style="width: 100%;box-sizing: border-box;")
            img.provider-signup-img(src='/img/facebook.png', height='24', width='24')
            span(style="margin-left:5px") Sign in with Facebook
        fieldset.margintop20
          a.btn.btn-primary.btn-orange.btn-large(href='/signup', style="width: 100%;box-sizing: border-box;")
            span(style="margin-left:5px") Sign up with Email
        &nbsp;
        span.text-info or&nbsp;
        a.show-signup.text-info(href="/login") sign in
