// ################ HEADER START ################
header#top
  .container.home
    .row.span8
      a.brand(href='')
        img.icon-white(src='img/landing/logo-large.png',width=500)
      p(style='font-size: 23px;margin-left:100px') The Definitive Guide to Your College Application Essay
