// ################ NAVIGATION START ################
.navbar-wrapper
  #navigation.navbar.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/')
          img(src='img/landing/logo.png',width=90)
        .nav-collapse.collapse
          ul.nav.pull-right
            li
              a(href='/') Home
            li
              a(href='/About') About Yessay
            li.dropdown
              a#dLabel.active.dropdown-toggle(style="color:#009999", role='button', data-toggle='dropdown', data-target='#', href='/page.html') Writing Tips
                b.caret
              ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                li
                  a(href='/SampleEssays') Sample Essays
                li
                  a(href='/QuickTips') Quick Tips