// ################ NAVIGATION START ################
.navbar-wrapper
  #navigation.navbar.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='')
          img(src='img/landing/logo.png',width=110)
        .nav-collapse.collapse
          ul.nav.pull-right
            li.active
              a(href='#top') Home
            li
              a(href='#features') Why Choose Yessay?
            li
              a(href='#support') How It Works
            li
              a(href='login') Login
            li
              a(href='signup') Signup
